body{
    margin: 0;
}
#head{
    height: 100px;
    width: 100vw;
    background-color: antiquewhite;
    display: flex;
    border-bottom: 1px solid tan;
}
#header{
    font-family: "Rubik Vinyl", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}
#content{
    display: grid;
    grid-template-columns: 2fr 9fr 1fr;
    height: calc(100vh - 100px);
    width: 100vw;
}
#sidebar{
    background-color:floralwhite;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    font-family: "Dancing Script", serif;
    font-weight: 700;
    font-size: 50px;
    border-right: 1px solid tan;
}
#sidebar-items{
    display: grid;
    padding-left: 30px;
    padding-top: 10px;
    font-size: 30px;
    height: fit-content;
}

#home-sidebar{
    color:tan ;
}

#sidebar span:hover,.cancel-btn-info:hover, #add-button:hover,#edit-item-modal-submit:hover, #edit-item-modal-cancel:hover , #add-item-modal-submit:hover, #add-category-modal-submit:hover, #add-item-modal-cancel:hover, #add-category-modal-cancel:hover, i:hover{
    cursor: pointer;
}

#add-item-button{
    background-color: antiquewhite;
    border-radius: 100%;
    height: 80px;
    width: 80px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items:center ;
    justify-content: center;
    box-shadow: 5px 5px 10px #999;
}

#add-category-button{
    background-color: antiquewhite;
    border-radius: 100%;
    height: 80px;
    width: 80px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    align-items:center ;
    justify-content: center;
    box-shadow: 5px 5px 10px #999;
}

#add-item-modal{
    background-color:floralwhite;
    width: 400px;
    padding: 10px;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: 5px 5px 10px #999;
    font-family: "Dancing Script", serif;
    font-weight: 700;
    font-size: 20px;
    position: absolute;
    bottom: 25vh;
    right: calc(50vw - 200px);
    display: none;
    z-index: 10000;
}

#edit-item-modal{
    background-color:floralwhite;
    width: 400px;
    padding: 10px;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: 5px 5px 10px #999;
    font-family: "Dancing Script", serif;
    font-weight: 700;
    font-size: 20px;
    position: absolute;
    bottom: 25vh;
    right: calc(50vw - 200px);
    display: none;
    z-index: 10000;
}

#add-category-modal{
    background-color:floralwhite;
    width: 400px;
    padding: 10px;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: 5px 5px 10px #999;
    font-family: "Dancing Script", serif;
    font-weight: 700;
    font-size: 20px;
    position: absolute;
    bottom: 50vh;
    right: calc(50vw - 200px);
    display: none;
    z-index: 10000;
}

#add-item-modal-cancel, #add-category-modal-cancel, #edit-item-modal-cancel{
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#add-item-modal-submit, #add-category-modal-submit, #edit-item-modal-submit{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#body-subdiv, #body{
    font-family: "Dancing Script", serif;
    font-weight: 700;
    padding-left: 20px;
    padding-top: 20px;
}

#description-options{
    display: grid;
}

#blanket{
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    background-color: #999;
    opacity: 50%;
    z-index: 9999;
    height: 100vh;
    width: 100vw;
}